﻿@model Model.BasicDataModel
@{
    ViewBag.Title = "DataType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_title">
    <h2>基础数据</h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增数据类型</button>
    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th>
                        <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </th>
                    <th class="column-title" style="display: table-cell;">类型 </th>
                    <th class="column-title" style="display: table-cell;">备注 </th>
                    <th class="column-title" style="display: table-cell;">操作 </th>
                </tr>
            </thead>
            <tbody id="tbodystr"></tbody>
        </table>
    </div>
    <div id="data-pager"></div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
             @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
             {
                <div class="modal-body">
                    <div class="form-group hidden">
                        <label for="ID" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-8">@Html.TextBoxFor(n => n.ID, new { @Id = "ID" })</div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label"><span class="required">*</span>类型名称</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(n => n.Name, new { @Id = "name", @class = "form-control", @required = "required", @placeholder = "请输入类型名称" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(n => n.Remark, new { @Id = "remark", @class = "form-control txt-overflow", @rows = "4" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="status" value="" />
                    <button type="submit" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
             }
        </div>
    </div>
</div>

<script>
    $(function () {
        createTable(1);
    })
    var pagesize = 2;
    var pageindex = 1;
    function createTable(number) {
        pageindex = number;
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetData", "BasicData")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                //if ($('#total').text() == 0) {
                //    $('#tbodystr').empty().append('<tr><td colspan="6">暂无信息</td></tr>')
                //    $('#data-pager').empty()
                //}
                //else {
                var html2 = customPaging('createTable', pageindex, pagesize, total);
                    $('#data-pager').empty().append(html2);
                //}
                   
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="6">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });   
    }
    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    method: 'post',
                    cache:false,
                    async: false,
                    url:"@Url.Action("EditData", "BasicData")",
                    data: $('#demoForm').serialize(),// 你的formid
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
            }
            else
            {
                //添加
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"@Url.Action("AddData", "BasicData")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
            }   
            return false;
        }
    }
    function AddModal() {
        $('#modal-title').text('新增数据类型');
        $('#status').val("");
        $('#name').val("");
        $('#remark').val("");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function EditModal(row,id) {
        $('#modal-title').text('修改数据类型');
        $('#status').val("1");
        $('#ID').val(id);
        $('#name').val($("table tr:eq(" + row + ") td:eq(1)").text());
        $('#remark').val($("table tr:eq(" + row + ") td:eq(2)").text());
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function DelModal(id) {
        alertDel('提示!', '确定要删除这个责任单位吗？', "DelData", id);
    }
</script>