﻿@model List<Model.t_BasicData>
@{ 
    int total = ViewData.GetInt("total");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var num = (i % 2 == 0) ? "even" : "odd";
        <tr class=@num >
            <td class="a-center">
                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
            </td>
            <td>@item[i].Name</td>
            <td>@item[i].Remark</td>
            <td>
                <a href="javascript:;" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i+1),@item[i].ID)">修改</a>&nbsp;&nbsp;
                <a href="javascript:;" onclick="DelModal(@item[i].ID)">删除</a>
            </td>
        </tr>
    }
}
else
{
    <tr class="even">
        <td class="a-center ">
            <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
        </td>
        <td  colspan="3">无法找到信息</td>
    </tr>
}

<script>
    var total = @total;
</script>