﻿@model List<Model.t_Users>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th class="hidden">@item[i].ID</th>
            <td>@item[i].LoginName</td>
            <td>@item[i].ChineseName</td>
            <td>@item[i].EnglishName</td>
            <td>@item[i].Email</td>
            <td>@item[i].Phone</td>
            <td>@item[i].Technology</td>
            <td>
                
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i+1),@item[i].ID)">修改</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="DelModal(@item[i].ID)">删除</a>
            </td>
        </tr>
    }
}

<tr class="hidden"><th id="total">@total</th></tr>
