﻿@using Model
@model ProgectModel
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_title">
    <h2>项目信息</h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">

    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增项目信息</button>

    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th>
                        <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </th>
                    <th class="column-title" style="display: table-cell;">项目名称 </th>
                    <th class="column-title" style="display: table-cell;">客户名称 </th>
                    <th class="column-title" style="display: table-cell;">负责人 </th>
                    <th class="column-title" style="display: table-cell;">是否付费 </th>
                    <th class="column-title" style="display: table-cell;">开始时间 </th>
                    <th class="column-title" style="display: table-cell;">结束时间 </th>
                    <th class="column-title" style="display: table-cell;">创建时间 </th>
                    <th class="column-title" style="display: table-cell;">操作 </th>
                </tr>
            </thead>
            <tbody id="tbodystr"></tbody>
        </table>
    </div>
    <div id="data-pager"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
            <div class="modal-body">
                <div class="form-group">
                    <label for="ID" class="col-sm-3 control-label">ID</label>
                    <div class="col-sm-8">@Html.TextBoxFor(n => n.ID, new { @Id = "ID" })</div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>项目名称</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ProjectName, new { @Id = "name", @class = "form-control", @required = "required", @placeholder = "请输入项目名称" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>客户名称</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ProjectName, new { @Id = "name", @class = "form-control", @required = "required", @placeholder = "请输入客户名称" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>负责人</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ProjectName, new { @Id = "name", @class = "form-control", @required = "required", @placeholder = "请输入负责人" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>是否付费</label>
                    <div class="col-sm-8">
                        <label class="col-sm-1">
                            @Html.RadioButtonFor(n => n.IsPay, "1")

                        </label>
                        <label class="col-sm-2">
                            是
                        </label>
                        <label class="col-sm-1">
                            @Html.RadioButtonFor(n => n.IsPay, "0")
                        </label>
                        <label class="col-sm-2">
                            否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="v-date" class="col-sm-3 control-label"><span class="required">*</span>开始时间</label>
                    <div class="col-sm-8"><input id="start-date" name="phone" type="text" required="required" class="form-control jedate1" readonly="readonly" placeholder="年/月/日" /></div>
                </div>
                <div class="form-group">
                    <label for="v-date" class="col-sm-3 control-label"><span class="required">*</span>结束时间</label>
                    <div class="col-sm-8"><input id="end-date" name="phone" type="text" required="required" class="form-control jedate2" readonly="readonly" placeholder="年/月/日" /></div>
                </div>
                <div class="form-group">
                    <label for="v-date" class="col-sm-3 control-label"><span class="required">*</span>创建时间</label>
                    <div class="col-sm-8"><input id="create-date" name="phone" type="text" required="required" class="form-control jedate3" readonly="readonly" placeholder="年/月/日" /></div>
                </div>
                @*<div class="form-group">
            <label for="remark" class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(n => n.Remark, new { @Id = "remark", @class = "form-control txt-overflow", @rows = "4" })
            </div>
        </div>*@
            </div>
                  <input class="hidden" value="0" data-parsley-checkshow />
                <div class="modal-footer">
                    <input type="hidden" id="status" value="" />
                    <button type="submit" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function Start(Id) {
        var start = {
            //isinitVal: true,
            initAddVal: [-1],
            format: 'YYYY-MM-DD',
            maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
            choosefun: function (val) {
                var thisId = $('#' + val[0].id);
                if (thisId.val() != "") {
                    thisId.removeClass('parsley-error').next().hide();
                }
            },
            okfun: function (val) {
                var thisId = $('#' + Id);
                thisId.removeClass('parsley-error').next().hide();
            }
        };

        return start;
    }

    window.Parsley
        .addValidator('checkshow', {
          validateString: function (value) {
              $('#demoForm .parsley-errors-list').show();
              return true;
          }
      });

    $(".jedate1").jeDate(Start('start-date'));
    $(".jedate2").jeDate(Start('end-date'));
    $(".jedate3").jeDate(Start('create-date'));

    function AddModal() {
        $('#modal-title').text('新增项目信息');

        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    method: 'post',
                    cache:false,
                    async: false,
                    url:"@Url.Action("EditData", "BasicData")",
                    data: $('#demoForm').serialize(),// 你的formid
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
        }
        else
        {
            //添加
            $.ajax({
                cache: false,
                type: "POST",
                url:"@Url.Action("AddData", "BasicData")",
                data: $('#demoForm').serialize(),// 你的formid
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function (data) {
                $("#myModal").modal("hide");
                alertModal('提示！', data.Message);
                createTable(1);
            }
        });
    }
    return false;
    }
    }
</script>