﻿@using Model
@model UsersModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_title">
    <h2>人员信息</h2>
    <div class="clearfix"></div>
</div>


<div class="x_content">

    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增人员信息</button>

    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th class="column-title" style="display: table-cell;">登陆名 </th>
                    <th class="column-title" style="display: table-cell;">中文名 </th>
                    <th class="column-title" style="display: table-cell;">英文名 </th>
                    <th class="column-title" style="display: table-cell;">电子邮件 </th>
                    <th class="column-title" style="display: table-cell;">联系电话 </th>
                    <th class="column-title" style="display: table-cell;">主要技术 </th>
                    <th class="column-title no-link last" style="display: table-cell;">
                        <span class="nobr">操作</span>
                    </th>
                </tr>
            </thead>

            <tbody id="tbodystr">
            </tbody>
        </table>
    </div>

    <div id="data-pager">
        <div class="page-info">当前显示1-20条&nbsp;&nbsp;共184156条数据</div>
        <div class="page-number">
            <span>上一页</span>
            <span class="curr">1</span>
            <a href="javascript:void(0)" onclick="createTable(2)">2</a>
            <a href="javascript:void(0)" onclick="createTable(3)">3</a>
            <a href="javascript:void(0)" onclick="createTable(4)">4</a>
            <span>...</span>
            <a href="javascript:void(0)" onclick="createTable(9208)">208</a>
            <a href="javascript:void(0)" onclick="createTable(2)">下一页</a>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
            <div class="modal-body">
                <div class="form-group">
                    <label for="ID" class="col-sm-3 control-label">ID</label>
                    <div class="col-sm-8">@Html.TextBoxFor(n => n.ID, new { @Id = "ID" })</div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>登录名</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.LoginName, new { @Id = "txtLoginName", @class = "form-control", @required = "required", @placeholder = "请输入项目名称" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>中文名</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ChineseName, new { @Id = "txtChineseName", @class = "form-control", @required = "required", @placeholder = "请输入客户名称" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>英文名</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.EnglishName, new { @Id = "txtEnglishName", @class = "form-control", @required = "required", @placeholder = "请输入负责人" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>邮箱</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.Email, new { @Id = "txtEmail", @class = "form-control", @required = "required", @placeholder = "请输入负责人" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>电话</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.Phone, new { @Id = "txtPhone", @class = "form-control", @required = "required", @placeholder = "请输入负责人" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label"><span class="required">*</span>主要技术</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.Technology, new { @Id = "txtTechnology", @class = "form-control", @required = "required", @placeholder = "请输入负责人" })
                    </div>
                </div>
            </div>
                <input class="hidden" value="0" data-parsley-checkshow />
                <div class="modal-footer">
                    <input type="hidden" id="status" value="" />
                    <button type="submit" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        createTable(1);
    })
    var pagesize = 15;
    var pageindex = 1;
    function createTable(number) {
        pageindex = number;

            $.ajax({
                method: 'post',
                url: "@Url.Action("GetUser", "User")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="5">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging('createTable', pageindex, pagesize, $('#total').text());
                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="5">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
            }
        });
    }

    function AddModal() {

        $('#myModalLabel').text('新增人员信息');
        $('#status').val("");
        $('#ID').val("");
        $('#txtLoginName').val("").removeAttr("disabled");
        $('#txtChineseName').val("").removeAttr("disabled");
        $('#txtEnglishName').val("").removeAttr("disabled");
        $('#txtEmail').val("").removeAttr("disabled");
        $('#txtPhone').val("").removeAttr("disabled");
        $('#txtTechnology').val("").removeAttr("disabled");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }

    function EditModal(row, id) {
        $('#modal-title').text('修改人员信息');
        $('#status').val("1");
        $('#ID').val(id);
        $('#txtLoginName').val($("table tr:eq(" + row + ") td:eq(0)").text());
        $('#txtChineseName').val($("table tr:eq(" + row + ") td:eq(1)").text());
        $('#txtEnglishName').val($("table tr:eq(" + row + ") td:eq(2)").text());
        $('#txtEmail').val($("table tr:eq(" + row + ") td:eq(3)").text());
        $('#txtPhone').val($("table tr:eq(" + row + ") td:eq(4)").text());
        $('#txtTechnology').val($("table tr:eq(" + row + ") td:eq(5)").text());
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }

    function DelModal(id) {
        alertDel('提示!', '确定要删除该人员吗？', "DelUser", id);
    }

    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    method: 'post',
                    cache:false,
                    async: false,
                    url:"@Url.Action("EditUser", "User")",
                    data: $('#demoForm').serialize(),// 你的formid
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
        }
        else
        {
            //添加
            $.ajax({
                cache: false,
                type: "POST",
                url:"@Url.Action("AddUser", "User")",
                data: $('#demoForm').serialize(),// 你的formid
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function (data) {
                $("#myModal").modal("hide");
                alertModal('提示！', data.Message);
                createTable(1);
            }
        });
    }   
    return false;
    }
    }

</script>